$desaturatedRed: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);
$darkGrayishRed: hsl(0, 6%, 24%);

%gradient-1 {
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
}

%gradient2 {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}
$laptop: 1024px;
$tablet: 768px;

@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  @extend %gradient-1;
  color: $desaturatedRed;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  min-height: 100vh;

  @include laptop() {
    font-size: 25px;
  }
}

.main {
  min-height: 100vh;

  @include tablet() {
    display: grid;
    grid-template-columns: 58% 42%;
  }
}

img {
  max-width: 100%;
}

.form {
  position: relative;

  &__icon {
    position: absolute;
    right: 100px;
    top: 12px;
    display: none;

    @include tablet() {
      right: 70px;
    }

    @include laptop() {
      right: 110px;
    }
  }

  &__text {
    text-align: left;
    margin-left: 25px;
    display: none;

    @include tablet() {
      font-size: 16px;
    }
  }
}
form.error .form__icon,
form.error .form__text {
  display: block;
}

.input {
  font-weight: 300;
  width: 100%;
  border-radius: 25px;
  padding: 10px 25px;
  background-color: transparent;
  border: 1px solid hsl(0, 36%, 70%);
  height: 50px;

  &::placeholder {
    color: $desaturatedRed;
  }
}

.btn {
  @extend %gradient2;
  border: none;
  box-shadow: 2px 5px 10px hsla(0, 36%, 70%, 0.5);
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 5%;
  height: 50px;
  width: 65px;
  margin: 0;
  padding: 0;

  @include tablet() {
    width: 65px;
    right: 0;
  }

  @include laptop() {
    width: 100px;
    right: 0;
  }

  &:hover {
    opacity: 0.6;
  }
}

.container {
  padding: 0 6%;

  @include tablet() {
    padding: 0;
  }
}

.content {
  margin-bottom: 100px;

  @include tablet() {
    padding: 0 26% 0 20%;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 84px;

    @include laptop() {
      height: 160px;
    }
  }

  &__logo {
    max-width: 6.25em;
  }

  &__img {
    max-width: 100%;
    margin-bottom: 30px;

    @include tablet() {
      display: none;
    }
  }

  &__text {
    margin-bottom: 40px;
    font-size: 16px;

    @include tablet() {
      text-align: left;
    }
  }
}

.title {
  text-transform: uppercase;
  font-size: 2.1875em;
  letter-spacing: 10px;
  line-height: 1.1;
  color: $darkGrayishRed;

  @include tablet() {
    text-align: left;
  }

  &__span {
    color: $desaturatedRed;
    font-weight: 300;
  }
}

.hero {
  display: none;
  background-image: url(../images/hero-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @include tablet() {
    display: block;
  }
}
