$desaturatedRed: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);
$darkGrayishRed: hsl(0, 6%, 24%);

%gradient-1 {
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
}

%gradient2 {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

body {
  margin: 0;
  text-align: center;
  @extend %gradient-1;
  color: $desaturatedRed;
}

img {
  max-width: 100%;
}

.form {
  position: relative;
}

.input {
  font-weight: 300;
  width: 100%;
  border-radius: 25px;
  padding: 10px 25px;
  background-color: transparent;
  border: 1px solid hsl(0, 36%, 70%);
  height: 50px;

  &::placeholder {
    color: $desaturatedRed;
  }
}

.btn {
  @extend %gradient2;
  border: none;
  box-shadow: 2px 5px 10px hsla(0, 36%, 70%, 0.5);
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 20px;
  height: 50px;
  width: 65px;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 20px;
}

.content {
  margin-bottom: 100px;

  &__header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 84px;
  }

  &__logo {
    max-width: 100px;
  }

  &__img {
    max-width: 100%;
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 40px;
  }
}

.title {
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 10px;
  line-height: 1.1;
  color: $darkGrayishRed;

  &__span {
    font-size: 35px;
    display: block;
    color: $desaturatedRed;
    font-weight: 300;
  }
}
